---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.footer-copy {
    margin-bottom: $spacing-unit / 2;
    text-align: center;
    @include relative-font-size(0.8);
    font-weight: 80;
  }