// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.footer-copy {
  margin-bottom: $spacing-unit / 2;
  text-align: center;
  @include relative-font-size(0.8);
  font-weight: 80;
}

.custom-post-body {
  text-align: justify;
}

.share-page {
    display: inline-block;
    background: rgb(192,192,192);
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    color: $text-color;
    font-size: 90%;
    &:before {
      content: "\f14d";
      font-family: FontAwesome;
      padding-right: 0.5em;
    }
    &:hover {
      text-decoration: none;
      background: rgb(155, 155, 155);
    }
}

.post-tag {
  display: inline-block;
  background: rgb(196, 195, 195);
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  color: $text-color;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: 0.5em;
  }
  &:hover {
    text-decoration: none;
    background: rgb(155, 155, 155);
    color: rgb(196, 195, 195);
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.125);
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  align:center;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.fig-img{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

* {box-sizing:border-box}

.skill-container {
  margin:0px;
  width: 100%;
  background-color: #ddd;
  margin-bottom:5px;
}

.skill-text {
  padding:0px;
  font-weight: bold;
  margin-bottom:0px;
}

.skills {
  text-align: right;
  color: white;
}

