// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.footer-copy {
  margin-bottom: $spacing-unit / 2;
  text-align: center;
  @include relative-font-size(0.8);
  font-weight: 80;
}

.custom-post-body {
  text-align: justify;
}

.share-page {
  text-align: left;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 1.5 * $spacing-unit 0;

  a {
    color: #000;
    margin-left: 10px;

    &:hover {
      border-bottom: 1px dashed #000;
    }
  }
}

.post-tag {
  display: inline-block;
  background: rgb(196, 195, 195);
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  color: $text-color;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: 0.5em;
  }
  &:hover {
    text-decoration: none;
    background: rgb(155, 155, 155);
    color: rgb(196, 195, 195);
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.125);
}

